
<html>
<head>
<meta charset="UTF-8">
<link rel="icon" href="static/favicon.png">
<title>Schildkrötenkarten</title>
<script>
var bt1;
var bt2;
var hbt1;
var hbt2;
var btoggle = false;
var diff_list = [];
var difflevel;
var id; // id in es
var membt1 = [];
var membt2 = [];
var memid = [];
var arraycount;


function loadme() {
  hbt1 = document.getElementById('box1');
  hbt2 = document.getElementById('box2');
  arraycount = -1;
  id = 0;
  bt1 = "";
  hbt1.innerHTML = bt1;
  hbt2.classList.add('whitening');
  //loadnext();
  diff_list.push(document.getElementById('leicht'));
  diff_list.push(document.getElementById('ok'));
  diff_list.push(document.getElementById('schwer'));
  difflevel = 1;
  select(difflevel);
}

function loadnext() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        let newwords = JSON.parse(xhttp.responseText).words;
        let esids = JSON.parse(xhttp.responseText).esids;
        for(let i=0;i<newwords.length;i++) {
          membt1.push(newwords[i][0]);
          membt2.push(newwords[i][1]);
          memid.push(esids[i]);
        }
        if (bt1 == "") next(); // first run
      }
  };
  xhttp.open("GET", "{{ url_for('index') }}");
  xhttp.send();
}

function next() {
  var xhr = new XMLHttpRequest();
  xhr.open('POST', '{{ url_for("addme") }}', true);
  xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
  xhr.onload = function () {
      console.log(this.responseText);
  };
  bt1 = hbt1.value
  bt2 = hbt2.value
  xhr.send('bt1='+bt1+'&bt2='+bt2);
  clear();
}

function clear() {
  hbt1.value = "";
  hbt2.value = "";
}

function prev() {
  window.open("https://og8.org/turtles/","_self")
}

function select(idiff) {
  difflevel = idiff;
  for(let i=0;i<3;i++) {
    if (i == idiff) diff_list[i].classList.add("selected");
    else diff_list[i].classList.remove("selected");
  }
}

function clickdiff(idiff) {
  select(idiff);
  sendhome(idiff);
}

function sendhome(idiff) {
  console.log('Clickdiff');
}

function toggle() {
  (btoggle ? close : show)();
}
function show() {
  hbt2.classList.remove('whitening');
  hbt2.innerHTML = bt2;
  btoggle = true;
}
function close() {
  hbt2.classList.add('whitening');
  hbt2.innerHTML = "";
  btoggle = false;
}
</script>
<style>
body {
  background-image: url("static/babies.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#all {
  height: 100%;
}
#header {
  /*background: rgba(76, 175, 80, 0.8);*/
  background: #04B45FC0;
  width: 90%;
  height: 35px;
  border-radius: 20px;
  margin: 30px;
  font-size: xx-large;
  color: white;
  padding: 30px 0;
}
#container {
  /*background: rgba(76, 175, 80, 0.9);*/
  background: #04B45FC0;
  border-radius: 20px;
  width: 90%;
}
#inner {
  padding: 20px;
  position: relative;
}
.boxes {
  background: rgba(255,255,255, 0.3);
  border: 2px dashed #CCC;
  margin: 30px;
  border-radius: 20px;
  position: relative;
  top: 10%;
  max-width: 500px;
  width: 50%;
  padding: 20px;
  font-size: x-large;
  height: 5em;
}
.whitening {
}
.difficulty {
  display: none;
  background: rgba(255,255,255, 0.2);
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}
.selected {
  border: 1px dashed red;
}
.arrow {
  background-repeat: no-repeat;
  background-size: 60px;
  height: 60px;
  width: 60px;
  position: absolute;
  top: 35%;
  opacity: 0.6;
  cursor: pointer;
}
.arrow:hover {
  opacity: 1.0;
}
#next {
  background-image: url("static/plus.png");
  right: 30px;
}
#prev {
  background-image: url("static/questionmark.png");
  left: 30px;
}
</style>
</head>
<body onload="loadme()">

<center>
<div id="all">
<div id="container">
  <div id="inner">
    <div id="prev" class='arrow' onclick="prev()">
    </div>
    <div id="next" class='arrow' onclick="next()">
    </div>
    <textarea id="box1" class="boxes"></textarea>
    <br>
    <textarea id="box2" class="boxes"></textarea>
    <div class="difficulty" id="leicht" onclick="clickdiff(0)">
      Leicht
    </div>
    <div class="difficulty" id="ok" onclick="clickdiff(1)">
      OK
    </div>
    <div class="difficulty" id="schwer" onclick="clickdiff(2)">
      Schwer
    </div>
  </div>
</div>
</div>
</center>

</body>
</html>
