
<html>
<head>
<meta charset="UTF-8">
<link rel="icon" href="static/favicon.png">
<title>Schildkrötenkarten</title>
<script>
var bt1;
var bt2;
var hbt1;
var hbt2;
var btoggle = false;
var diff_list = [];
var difflevel;
var id; // id in es
var membt1 = [];
var membt2 = [];
var memid = [];
var arraycount;
var index;

function loadme() {
  index = '{{ index }}';
  hbt1 = document.getElementById('box1');
  hbt2 = document.getElementById('box2');
  arraycount = -1;
  id = 0;
  bt1 = "";
  hbt1.innerHTML = bt1;
  hbt2.classList.add('whitening');
  loadnext();
  diff_list.push(document.getElementById('leicht'));
  diff_list.push(document.getElementById('ok'));
  diff_list.push(document.getElementById('schwer'));
  difflevel = 1;
  select(difflevel);
}

function loadnext() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        let newwords = JSON.parse(xhttp.responseText).words;
        let esids = JSON.parse(xhttp.responseText).esids;
        for(let i=0;i<newwords.length;i++) {
          membt1.push(newwords[i][0]);
          membt2.push(newwords[i][1]);
          memid.push(esids[i]);
        }
        if (bt1 == "") next(); // first run
      }
  };
  xhttp.open("GET", "https://og8.org/turtles/words/?index="+index);
  xhttp.send();
}

function next() {
  close();
  select(1);
  arraycount++;
  bt1 = membt1[arraycount];
  bt2 = membt2[arraycount];
  id = memid[arraycount];
  hbt1.innerHTML = bt1;
  if (membt1.length - arraycount < 3) loadnext();
}

function prev() {
  close();
  select(1);
  if (!arraycount) return
  arraycount--;
  bt1 = membt1[arraycount];
  bt2 = membt2[arraycount];
  id = memid[arraycount];
  hbt1.innerHTML = bt1;
}

function select(idiff) {
  difflevel = idiff;
  for(let i=0;i<3;i++) {
    if (i == idiff) diff_list[i].classList.add("selected");
    else diff_list[i].classList.remove("selected");
  }
}

function clickdiff(idiff) {
  select(idiff);
  sendhome(idiff);
}

function delme() {
  var xhr = new XMLHttpRequest();
  xhr.open('POST', '{{ url_for("delme") }}', true);
  xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
  xhr.onload = function () {
      console.log('deleting',id.toString());
  };
  xhr.send('id='+id.toString());
}

function sendhome(idiff) {
  var xhr = new XMLHttpRequest();
  xhr.open('POST', '{{ url_for("rateme") }}', true);
  xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
  xhr.onload = function () {
      console.log('changing diff ',id.toString(), ' to ', idiff);
  };
  xhr.send('id='+id.toString()+'&diff='+idiff.toString());
}

function toggle() {
  (btoggle ? close : show)();
}
function show() {
  hbt2.classList.remove('whitening');
  hbt2.innerHTML = bt2;
  btoggle = true;
}
function close() {
  hbt2.classList.add('whitening');
  hbt2.innerHTML = "";
  btoggle = false;
}
</script>
<style>
</style>
<link rel="stylesheet" type="text/css" href="static/main.css">
</head>
<body onload="loadme()">

<center>
<div id="all">
<div id="container">
  <div id="inner">
    <div id="prev" class='arrow' onclick="prev()">
    </div>
    <div id="next" class='arrow' onclick="next()">
    </div>
    <div id="box1" class="boxes">
    </div>
    <div id="box2" class="boxes" onclick="toggle()">
    </div>
    <div class="difficulty" id="minus" onclick="delme()">
    </div>
    <div class="difficulty" id="leicht" onclick="clickdiff(0)">
      Leicht
    </div>
    <div class="difficulty" id="ok" onclick="clickdiff(1)">
      OK
    </div>
    <div class="difficulty" id="schwer" onclick="clickdiff(2)">
      Schwer
    </div>
    <a href="{{ url_for('add') }}">
    <div class="difficulty" id="plus">
    </div>
    </a>

    <div style="padding-top:30px;">
    <a href="{{ url_for('index') }}">
      <div class="difficulty">Turtles
      </div>
    </a>
    <a href="{{ url_for('verbs') }}">
      <div class="difficulty">Verben
      </div>
    </a>
    <a href="{{ url_for('memrise') }}">
      <div class="difficulty">Memrise
      </div>
    </a>
    </div>

  </div>
</div>
</div>
</center>

</body>
</html>
